.objs-db
.objs
built/fba
built/fba-debug
built/config
built/neocdiso
built/recordings
built/roms
built/savestates
built/screenshots
built/support
built/fbasdl.ini
built/fba2.sh
built/omapsdl.old
built/omapsdl_latest
makefile
pbcopy
