.objs-db
.objs
built/fba
built/fba-debug
built/config
built/neocdiso
built/recordings
built/roms
built/savestates
built/screenshots
built/support
built/fbasdl.ini
built/fba2.sh
built/fba-db
built/omapsdl.old
built/omapsdl_latest
built/FBA 0.2.97.24.dat
built/rominfo.fba
built/zipname.fba
makefile
pbcopy
